@model IEnumerable<ERP_App.Models.AccountActivityMV>

@{
    ViewBag.Title = "Account Activities";
}

<h2></h2>

<p>

</p>
<!-- DATATABLE DEMO 2-->
<div class="card">
    <div class="card-header">
        <div class="card-title">Account Activities</div>

    </div>
    <div class="card-body">
        <div>@Html.ActionLink("New Account Actitvity", "CreateAccountActivity", null, new { @class = "btn btn-primary" })</div>
        <hr />
        <table class="table table-striped my-4 w-100" id="datatable2">
            <thead>
                <tr>
                    <th>
                        Account Activity
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            <thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditAccountActivity", new { accountactivityid = item.AccountActivityID }, new { @class = "btn btn-warning" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>